*{
margin: 0;
padding: 0;
}
.full-footer{
  background-color: black;
  border: 2px solid white;
  color: white;
}
.logo-icon-smalll{
  width: 38px;
  height: 28px;

}
.footan{
  display: flex;
}
.footan a{
  margin: 10px;
  color: white;
}
.full-footer a{
  color: white;
  text-decoration: none;
}
.bootfoot{
  left: 0;
  bottom: 0;
  background-color: grey;
  color: white;
  width: 100%;
  height: 40px;
  text-align: center;
  position: relative;
}

.visitor {
  width: 100%;
  height: 30px;
  background-color: rgb(63, 63, 63);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  position: relative;
}
.full-footer .row{
  padding: 28px;
}

.main-logo{
  width: 150px;
  height: 50px;
}

.button-nav {
  display: flex ;
  margin: 30px;
  justify-content: space-around;
  align-items: center;
}
.button-nav button{
  margin: 20px;
  width: 150px;
  height: 80px;
}

@media all and (max-width:500px){
  .button-nav {
    flex-direction: column;
    
    
  }
  .button-nav button{
    width: 100%;

    }
}