*{
margin: 0;
padding: 0;
}
.full-footer{
  background-color: black;
  border: 2px solid white;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
 
}
.full-footer h5{
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.full-footer p{
  font-size: 16px;
  line-height: 1.5;
  margin-top: 0 ;
  margin-bottom: 1rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.full-footer a{
  font-size: 16px;
  line-height: 1.5;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.logo-icon {
  width: 35px;
  height: 30px;
}
.logo-icon-small {
  width: 25px;
  height: 20px;
}
.logo-icon-smalll {
  width: 30px;
  height: 25px;
}
.footan{
  display: flex;
}
.footan a{
  margin-right: 10px;
  color: white;
}
.footann{
  display: flex;
}
.full-footer a{
  color: white;
  text-decoration: none;
}
.bootfoot{
  left: 0;
  bottom: 0;
  background-color: grey;
  color: white;
  width: 100%;
  height: 40px;
  text-align: center;
  position: relative;
}

.visitor {
  width: 100%;
  height: 30px;
  background-color: rgb(63, 63, 63);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  position: relative;
}
.full-footer .row{
  padding: 28px;
}

.main-logo{
  width: 150px;
  height: 50px;
}

.button-nav {
  display: flex ;
  margin: 30px;
  justify-content: space-around;
  align-items: center;
}
.button-nav button{
  margin: 20px;
  width: 150px;
  height: 80px;
}

@media all and (max-width:500px){
  #fntfooter{
    font-size: 13px;
  }
  .button-nav {
    flex-direction: column;
    
    
  }
  .button-nav button{
    width: 100%;

    }
}