.img
{
	float: left;
	width: 40%;
	height: 25%;
	margin-top: 8%;
}
q
{
	border: dashed;
			padding: 1%;
			font-size: 110%;
}
.para
{
	font-size: 150%;
			margin-left: 45%;
			margin-top: 5%;
			border-style: ridge;
			border-collapse: 30%;
			font-family:cursive;
}
