#thanks{
    text-align: center;
}
img{
    width: 30%;
    height: 30%;
}
button{
  border-radius: 1rem;
  padding: 1.5%;
  color: #fff;
  background-color: #0062cc;
  border: none;
  cursor: pointer;
}