body{
  background: linear-gradient(360deg,#B7F8DB , #50A7C2);
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}
#sidebarMenu {
    height: 100%;
    position: fixed;
    left: 0;
    width: 250px;
    z-index: 2; /* Stay on top */
    top: 0; /* Stay at the top */
    transition: 0.5s;
    transform: translateX(-250px);
    transition: transform 250ms ease-in-out;
    background-color: black;
    overflow-y: auto;
  }
  #sidebarMenu ul {
    z-index: 1;
    margin-top: 80px;
  }
  .navbar-brand img {
    max-height: 140%;
    width: 120px;
  
    overflow: visible;
    padding-top: 0;
    padding-bottom: 0;
  }
  
  .sidebarMenuInner {
    z-index: 1;
    margin: 0;
    padding: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  .sidebarMenuInner li {
    text-decoration: none;
    width: 100%;
    list-style: none;
    text-transform: uppercase;
    font-weight: bold;
    padding: 15px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  .sidebarMenuInner a {
    width: 800px;
    color: white !important;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none !important;
  }
  
  .sidebarMenuInner li:hover > a {
    background-color: white;
    color: #000 !important;
  }
  .sidebarMenuInner li:hover {
    background-color: white;
    color: #000;
  }
  .navbar2 {
    position: absolute;
  }
  
  input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
  }
  
  #carouselExampleIndicators {
    z-index: 0;
  }
  .itemactive {
    position: fixed;
    top: 0;
    height: 65px;
    overflow: hidden;
    width: 100%;
    background-color: transparent;
    background-size: 100% 100%;
    text-align: center;
    z-index: 1;
  }


  input[type="checkbox"] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
  }
  .sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    z-index: 99;
  }
  .spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: white;
  }
  #gear {
    transition: all 0.3s ;
    box-sizing: border-box;
    position: fixed;
    width: 65px;
    height: 68px;
    top: 1px;
    left: 7px;
  }
  
  .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
    display: none;
  }
  .diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
    display: none;
  }
  .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
    display: none;
  }
  input[type="checkbox"]:checked ~ .sidebarIconToggle > #gear {
    transition: all 0.3s ;
    box-sizing: border-box;
    transform: rotate(-360deg);
  
    display: block;
  }
  
  input[type="checkbox"]:checked ~ .sidebarIconToggle > #gear {
    transition: all 0.3s ;
    box-sizing: border-box;
    transform: rotate(360deg);
  
    display: block;
  }
  @-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  .rotating {
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
  }
  .logo-icon {
    width: 35px;
    height: 30px;
    }
    .logo-icon-small {
    width: 25px;
    height: 20px;
    }
    .logo-icon-smalll {
    width: 30px;
    height: 25px;
    }
    .visitor {
    width: 100%;
    height: 30px;
    background-color: rgb(63, 63, 63);
    text-align: center;
    }
    
    .full-footer {
    background-color: black;
    color: white;
    text-decoration: none;
    }
    .full-footer a {
    color: white;
    }
    .foot {
    text-decoration: none;
    color: white;
    }
    
    #mainlogoo{
      
  margin-left: -60px;
        width: 150px;
      height: 50px;
      margin-top: 10px;
      position: fixed;
    }
    
    
.banner{
  top: -25px;
  height: 600px;
  position: relative;
  background: url(../images/surveys-img1.png) no-repeat center;
  background-attachment: fixed;
  background-size: 100% 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
.bannerlogo{
    position: absolute;
    display: block;
    text-align: center;
    top: 0px;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    height: 65px;
    z-index: 1;
    position: fixed;
  }
.accountbtn{
    
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
}
.button-account{
    cursor: pointer;
    outline: 0;
    border: none;
    color: white;
    background-color: rgb(0, 68, 255);
    z-index: 1;
    margin: 5px;
    width: 70px;
    height: 30px;
}
.button-account:hover{
    background-color: blue;
    color: white;
    border: 1px solid black;
}
.scroll {
    background-color: black;
    transition: 0.5s;
    position: fixed;
    top: 0;
    height: 65px;
    overflow: hidden;
    width: 100%;
  
    background-size: 100% 100%;
    text-align: center;
  }
  .survey-cards-section{
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill , 360px);
  text-align: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
  justify-items: center;
  justify-content: space-evenly;
  }
.survey-card-1{
  
  margin: 10px;
background: linear-gradient(246deg, #ffffff 0%, #d7e1ec 74%);
  position: relative;
  height: 300px;
  width: 300px;
  border-radius: 10px;
  background-color: rgb(228, 228, 228);
  -moz-box-shadow:    3px 3px 5px 6px #778ba5;  /* Firefox 3.5 - 3.6 */
  -webkit-box-shadow: 3px 3px 5px 6px #778ba5;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  box-shadow:         3px 3px 5px 6px #778ba5; 
}
.survey-card-1:hover{
  background: rgb(226, 225, 225);
}
.survey-p-head {
  position: relative;
  top: 20px;
  border: 1px solid rgba(0,0,0,0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-right: none;
  width: 70%;
  height: 50px;
  box-shadow: 0 8px 6px -6px black;
  float: right;
}
.survey-p-head h3{
font-size: 25px;
  font-family: 'Oswald';
  font-weight: bold;
  margin-top: -2px;
}
.survey-p-d{
  position: relative;
  font-size: 40px;
  border: 1px solid rgba(0,0,0,0.3);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  top: 40px;
  width: 70%;
  box-shadow: 0 8px 6px -6px black;
  float: left;

}
.survey-p-d h5{
  font-size: 18px;
  font-family: 'Oswald';
  font-weight: bold;
  margin-top: -2px;
}
.surveybtn{
  position: relative;
  top: 60px;
  width: 100%;
  display: flex;
  font-size: 18px;
  font-family: 'Oswald';
  font-weight: bold;
  justify-content: center;
  align-items: center;
}
.surveybtn a{

  text-decoration: none;
  color: #000;
}
.btnstext{
  background-color: white;
  border: 2px solid rgba(0,0,0,0.2);
  box-shadow: 0 8px 6px -6px black;
}
@media all and (max-width: 600px) {
  .survey-cards-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  .banner{
    /* background: url(../images/projectbannerpage.jpg) no-repeat center; */
    background-size: 100% 100%;
  height: 650px;
  }
#gear {
    width: 45px;
    height: 45px;
}
#mainlogoo {
  right: 10px;
    width: 100px;
    height: 40px;
  }
}
.banner-text{
  width: calc(100% - 10%);
  margin: auto;
  background-color: rgba(0,0,0,0.15);
  color: white;
  text-align: justify;
  padding: 10px;
  font-family: 'Patrick Hand';
}