*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bt-ppt{
outline: none;
border: none;
background-color: rgba(0,0,0,0);
margin: 20px;
font-size: 20px;

cursor: pointer;

}
.linkssocial{
    padding: 10px;
}
.linksocialicons{
    width: 35px;
    height: 35px;
    margin-left: 10px;
}
.contitledes{
    padding: 30px;
    text-align: justify;
}
.contitledes h3{
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    font-family: Oswald;
    font-size: 35px;

}
.contitledes p{
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Tenali Ramakrishna;

}
.bt-ppts{
outline: none;
border: 2px solid black;
color: black;
width: 140px;
height: 60px;
margin: 20px;
font-weight: bold;
cursor: pointer;
background-color: darkorange;
}
.bt-ppts:hover{
    
font-weight: bold;
outline: none;
border: 2px solid black;
color: black;
width: 140px;
height: 60px;
margin: 20px;
background-color: white;
}
.titledes{
    border: 2px solid black;
    width: 90%;
    margin: auto;
    background-color: lightgray;
    margin-bottom:40px ;
}
#pptslider{
    width: 100%;
    height: 565px;

}
.social-lin{
    display: flex;
    justify-content: space-between;

}
.banner{
    top: -25px;
    height: 65px;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.bannerlogo{
    position: absolute;
    display: block;
    text-align: center;
    top: 0px;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    height: 65px;
    z-index: 1;
    position: fixed;
  }
.accountbtn{
    
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
}
.button-account{
    cursor: pointer;
    outline: 0;
    border: none;
    color: white;
    background-color: rgb(0, 68, 255);
    z-index: 1;
    margin: 5px;
    width: 70px;
    height: 30px;
}
.button-account:hover{
    background-color: blue;
    color: white;
    border: 1px solid black;
}
.logo-icon {
width: 35px;
height: 30px;
}
.logo-icon-small {
width: 25px;
height: 20px;
}
.logo-icon-smalll {
width: 30px;
height: 25px;
}
.visitor {
width: 100%;
height: 30px;
background-color: rgb(63, 63, 63);
text-align: center;
}

.full-footer {
background-color: black;
color: white;
text-decoration: none;
}
.full-footer a {
color: white;
}
.foot {
text-decoration: none;
color: white;
}

#mainlogoo{
    width: 150px;
  height: 50px;
  margin-top: 10px;
  position: fixed;
}


@media all and (max-width:500px){
   

    #mainlogoo {
        margin-left: -10px;
        width: 100px;
        height: 40px;
      }
     
}
.a2a_kit a{
    margin: 10px;

}
.commentsecmain{
    position: relative;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: start;
}
.maincommentbtn{
    
    border: none;
    outline: none;
    background-color: lightgray;

}

.btnn1{
    width: 150px;
    height: 40px;
    border: none;
    outline: none;
    border-bottom: 2px solid darkorange; 

}
.btnn2{
    width: 50px;
    height: 40px;
    border: none;
    outline: none;

}
.formclass{
    position: relative;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    padding: 20px;
    }
.formclass #formtextbox{
    position: relative;
    width: 70%;
    height: 60px;
    text-align: justify;
    font-size: 20px;
    padding: 10px;
    border: 2px solid black;

}
.formclass #formtextbutton:hover{
    background-color: white;
    color: black;

}
.formclass #formtextbutton{
    
    position: relative;
    width: 10%;
    height: 60px;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    border: 2px solid black;
    background-color: darkorange;

}
.commentsfromform{
    width: 100%;
    padding: 20px;
}
.commentform{
    width: 95%;
    padding:10px ;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

@media all and (max-width:600px){
    #pptslider{
        width: 100%;
        height: 200px;
    
    }
    .formclass{
        padding: 5px;
        }
    .formclass #formtextbox{
        
        width: 65%;
        height: 50px;
        text-align: justify;
        font-size: 16px;
        padding: 10px;
        border: 2px solid black;
    
    }
    .formclass #formtextbutton{
        width: 20%;
        height: 45px;
        text-align: center;
        font-size: 10px;
        padding: 10px;
        border: 2px solid black;
        background-color: darkorange;
    
    }
    
.contitledes h3{
margin-top: 20px;
margin-bottom: 20px;
font-weight: bold;
font-family: Oswald;
font-size: 25px;

}
.contitledes p{
font-size: 20px;
margin-top: 20px;
margin-bottom: 20px;
font-family: Tenali Ramakrishna;

}
.banner{

height: 65px;
}
.bt-ppt{
outline: none;
border: none;
background-color: rgba(0,0,0,0);
margin: 10px;
font-size: 20px;

}
.bt-ppts{
padding: 3px;
width: 100px;
height: 55px;
margin: 10px;
margin-bottom: 10px;

}
.bt-ppts:hover{
outline: none;
border: 2px solid black;
color: black;
width: 100px;
height: 55px;
margin: 10px;
background-color: white;
}
}

#slidersec{
    display: none;
}