.banner{
  top: -25px;
  height: 520px;
  position: relative;
  background: url(../images/carbanner.jpg) no-repeat center;
  background-attachment: fixed;
  background-size: 100% 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bannerlogo{
  position: absolute;
  display: block;
  text-align: center;
  top: 0px;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  height: 65px;
  position: fixed;
}
.banner h1{
  background-color: rgba(0,0,0,0.3);
  color: white;
  font-family: 'Bangers', serif;
  text-shadow: 3px 3px black;
font-size: 50px;

}

.sliderwrapper{
  width:calc(100% - 30px);
margin: auto;

position: relative;
margin-top:30px ;
margin-bottom:30px ;
text-align: center;
background: linear-gradient(246deg,#7EE8FA,rgb(63, 105, 245));
}
.owl-nav button {
  position: absolute;
  top: 50%;
  background-color: #000;
  color: #fff;
  margin: 0;
  transition: all 0.3s ease-in-out;
}
.owl-nav button.owl-prev {
  left: 0;
}
.owl-nav button.owl-next {
  right: 0;
}

.owl-dots {
  text-align: center;
  padding-top: 15px;
}
.owl-dots button.owl-dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  background: #ccc;
  margin: 0 3px;
}
.owl-dots button.owl-dot.active {
  background-color: #000;
}
.owl-dots button.owl-dot:focus {
  outline: none;
}
.owl-nav button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.38) !important;
}
span {
    font-size: 70px;    
    position: relative;
    top: -5px;
}
.owl-nav button:focus {
    outline: none;
}
.item{
  padding: 10px;
  text-align: center;
}

.messagediv{
  background:rgba(232, 232, 232, 1);
  border-radius: 5px;
  padding: 5px;
  height: 230px;
  overflow: hidden;
  overflow-y: auto;
  
}
.imagebtn {
  height:60px;
  width: 80px;
  border-radius: 50%;
  margin: 10px;
  
  outline: none;
  border: 2px solid rgba(44, 130, 201, 1);
}
.textdes{
  
font-family: 'Bangers', serif;
}

.gridbox{
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill , 360px);
  text-align: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
  justify-items: center;
  justify-content: space-evenly;
}

.gridd{
  font-family: 'DM Mono', serif;
  height: 300px;
  width: 300px;
  text-align: center;
  text-transform: uppercase;
  padding: 15px;
  background: #ffffff;
  border-radius: 10px;
  margin: 10px 10px 10px 10px;
  cursor: pointer;
}
.gridd img{
  width: calc(100% - 30px);
  margin: auto;
  height: 200px;
  margin: 10px;
  border-radius: 25px;
}

.gridd:hover{
  background-color: #ffa16e;
  transition: 0.5s ease-in-out;
  box-shadow: 3px 6px #080300;
  color: white;
  text-shadow: 2px 2px black;
}
.gridd img:hover{
  border: 2px solid black;
}


@media all and (max-width:600px){
  .banner{
    background: url(../images/carbanver.jpeg);
  height: 650px;
  }
  .banner h1{

    font-size: 40px;
  
  }
.gridd{
  height: 300px;
  width: 300px;
  margin: 10px;
}
.gridbox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.gridd:hover{
  background-color: #ffa16e;
  transition: 0.5s ease-in-out;
  box-shadow: 3px 6px #080300;
  color: white;
  text-shadow: 2px 2px black;
}

} 

.modcontent{
  margin-top: -35px !important;
  text-transform: uppercase;
  padding: 20px;
width: 100%;
color: #000;
font-size: 20px;
font-weight: bold;
height: 300px;
overflow: hidden;
overflow-y: auto;
overflow-x: auto;
border: 2px solid rgb(156, 156, 156);
}


.careerdiv{
  width: 100%;
  background-color: whitesmoke;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: rgba(0,0,0,0);
  }
  
  .car-btn{
    max-width: 400px;
    font-weight: bold;
    margin: auto;
    text-align: center;
    font-family: 'Bangers';
    font-size: 22px;
    border:2px solid black;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    background: linear-gradient(#09C6F9,#045DE9  );
  }
  .car-btn:hover{
    background:linear-gradient(#37D5D6,#36096D  );
  }