.sliderwrapper{
width:calc(100% - 30px);
margin: auto;
position: relative;
margin-top:30px ;
margin-bottom:30px ;
text-align: center;
background: linear-gradient(246deg,#7EE8FA,rgb(63, 105, 245));
}
.owl-nav button {
  position: absolute;
  top: 50%;
  background-color: #000;
  color: #fff;
  margin: 0;
  transition: all 0.3s ease-in-out;
}
.owl-nav button.owl-prev {
  left: 0;
}
.owl-nav button.owl-next {
  right: 0;
}

.owl-dots {
  text-align: center;
  padding-top: 15px;
}
.owl-dots button.owl-dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  background: #ccc;
  margin: 0 3px;
}
.owl-dots button.owl-dot.active {
  background-color: #000;
}
.owl-dots button.owl-dot:focus {
  outline: none;
}
.owl-nav button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.38) !important;
}
span {
    font-size: 70px;    
    position: relative;
    top: -5px;
}
.owl-nav button:focus {
    outline: none;
}
.item{
  padding: 10px;
  text-align: center;
}

.messagediv{
  background:rgba(232, 232, 232, 1);
  border-radius: 5px;
  padding: 5px;
  height: 110px;
  overflow: hidden;
  overflow-y: scroll;
  
}
.imagebtn {
  height:60px;
  width: 80px;
  border-radius: 50%;
  margin: 10px;
  
  outline: none;
  border: 2px solid rgba(44, 130, 201, 1);
}
.textdes{
  
font-family: 'Bangers', serif;
}