section{display:block;}
a{background-color:transparent;}
a:active,a:hover{outline:0;}
img{border:0;}
@media print{
*,*:before,*:after{color:#000!important;text-shadow:none!important;background:transparent!important;-webkit-box-shadow:none!important;box-shadow:none!important;}
a,a:visited{text-decoration:underline;}
a[href]:after{content:" (" attr(href) ")";}
a[href^="#"]:after{content:"";}
img{page-break-inside:avoid;}
img{max-width:100%!important;}
p,h3{orphans:3;widows:3;}
h3{page-break-after:avoid;}
}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
a{color:#337ab7;text-decoration:none;}
a:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
img{vertical-align:middle;}
.img-circle{border-radius:50%;}
h3,h4,h5,h6{font-family:inherit;line-height:1.1;color:inherit;}
h3{margin-top:20px;margin-bottom:10px;}
h4,h5,h6{margin-top:10px;margin-bottom:10px;}
h3{font-size:24px;}
h4{font-size:18px;}
h5{font-size:14px;}
h6{font-size:12px;}
p{margin:0 0 10px;}
.text-center{text-align:center;}
.container{padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto;}
@media (min-width: 768px){
.container{width:750px;}
}
@media (min-width: 992px){
.container{width:970px;}
}
@media (min-width: 1200px){
.container{width:1170px;}
}
.row{margin-right:-15px;margin-left:-15px;padding:15px 0;}
.container:before,.container:after,.row:before,.row:after{display:table;content:" ";}
.container:after,.row:after{clear:both;}
/*! CSS Used from: http://kl-webmedia.com/demo/cravious/css/style.css */
h3,h4,h5,h6{font-family:'Varela Round', sans-serif;margin:20px 0;font-weight:500;}
h5.alt,h6.alt{font-family:'Helvetica New', sans-serif;font-weight:600;margin:20px 0;color:#8997a7;text-transform:uppercase;}
a{color:#8997a7;font-family:'Varela Round';transition:all 0.3s ease;}
a:hover{text-decoration:none;}
p{font-family:'Varela Round';color:#8997a7!important;line-height:25px;margin:10px 0;}
.blue-color{color:#22c0e8!important;}
section{padding:40px 0;margin:40px 0;}
.row.title{margin:0 0 40px 0;}
.row.title h3{font-weight:600;}
.row.title .alt{color:#8997a7;}
.testimonial-box{position:relative;background:#eeeeee;border:2px solid #dbe2e9;text-align:center;padding:15px;width:80%;border-radius:5px;margin:0 auto;}
.testimonial-box:after,.testimonial-box:before{top:100%;left:50%;border:solid transparent;content:" ";height:0;width:0;position:absolute;pointer-events:none;}
.testimonial-box:after{border-color:rgba(238, 238, 238, 0);border-top-color:#eeeeee;border-width:10px;margin-left:-10px;}
.testimonial-box:before{border-color:rgba(219, 226, 233, 0);border-top-color:#dbe2e9;border-width:10px;margin-left:-10px;}
img.testimonial-client{width:80px;border:2px solid #8997a7;margin:25px 0;}
/*! CSS Used from: http://kl-webmedia.com/demo/cravious/css/owl.css */
.owl-carousel .owl-wrapper:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;}
.owl-carousel{display:none;position:relative;width:100%;-ms-touch-action:pan-y;}
.owl-carousel .owl-wrapper{display:none;position:relative;-webkit-transform:translate3d(0px, 0px, 0px);}
.owl-carousel .owl-wrapper-outer{overflow:hidden;position:relative;width:100%;}
.owl-carousel .owl-item{position:relative;float:left;z-index:900;}
.owl-carousel  .owl-wrapper,.owl-carousel  .owl-item{-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);}
/*! CSS Used fontfaces */
@font-face{font-family:'Varela Round';src:url('http://kl-webmedia.com/demo/cravious/fonts/VarelaRound-Regular.otf');}
@font-face{font-family:'Helvetica New';src:url('http://kl-webmedia.com/demo/cravious/fonts/Helvetica%20CE%20Regular.ttf');}






